
<mat-card>
  <mat-card-header>
    <mat-card-subtitle>
      Tareas
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-toolbar>

    </mat-toolbar>
    <table #table1 mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="taskName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de la tarea</th>
        <td mat-cell *matCellDef="let element"> {{ element.taskName }} </td>
      </ng-container>
      <ng-container matColumnDef="taskState">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
        <td mat-cell *matCellDef="let element">{{ element.taskState}}</td>
      </ng-container>
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de inicio</th>
        <td mat-cell *matCellDef="let element"> {{ element.startDate |date:'dd/MM/yy'}} </td>
      </ng-container>
      <ng-container matColumnDef="asOfDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Termino</th>
        <td mat-cell *matCellDef="let element"> {{ element.asOfDate |date:'dd/MM/yy'}} </td>
      </ng-container>
      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Últ. Actualización</th>
        <td mat-cell *matCellDef="let element"> {{ element.updatedAt |date:'dd/MM/yy'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>
  </mat-card-content>


  <div class="contenedor">
    <p>
      <mat-form-field>
        <input matInput [(ngModel)]="articuloselect.taskName" type="text" placeholder="Ingrese taskName">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput [(ngModel)]="articuloselect.taskState" type="text" placeholder="Ingrese taskState">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>startDate</mat-label>
        <input matInput [matDatepicker]="mydateX" [(ngModel)]="articuloselect.startDate"
          (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)"
          placeholder="Pick a startDate">
        <mat-datepicker-toggle matSuffix [for]="mydateX"></mat-datepicker-toggle>
        <mat-datepicker #mydateX>
        </mat-datepicker>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>asOfDate</mat-label>
        <input matInput [matDatepicker]="mydateA" [(ngModel)]="articuloselect.asOfDate"
          (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)"
          placeholder="Pick a asOfDate">
        <mat-datepicker-toggle matSuffix [for]="mydateA"></mat-datepicker-toggle>
        <mat-datepicker #mydateA>
        </mat-datepicker>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>updatedAt</mat-label>
        <input matInput [matDatepicker]="mydateB" [(ngModel)]="articuloselect.updatedAt"
          (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)"
          placeholder="Pick a updatedAt">
        <mat-datepicker-toggle matSuffix [for]="mydateB"></mat-datepicker-toggle>
        <mat-datepicker #mydateB>
        </mat-datepicker>
      </mat-form-field>
    </p>
    <button mat-raised-button color="accent" (click)="agregar()">Agregar</button>
  </div>

  <hr>
  <h3>Selecionaste fecha</h3>
  <ul>
    <li>Date: {{selDate}}</li>
    <li>Day: {{selDay}}</li>
    <li>Month: {{selMonth}}</li>
    <li>Year: {{selYear}}</li>
  </ul>


  <router-outlet></router-outlet>
  <!--
  <input #minmaxInput matInput [matDatepicker]="basicDatepicker"
  [(ngModel)]="articuloselect.startDate"
  (dateInput)="onDateChange($event)"
  placeholder="Pick a date">
  <mat-datepicker-toggle [for]="basicDatepicker"></mat-datepicker-toggle>
  <mat-datepicker #basicDatepicker   [startAt]="startDatePick "></mat-datepicker
    >
    <mat-autocomplete role="combobox" #auto="matAutocomplete">
    <mat-option *ngFor="let item of list | async " [value]="item">
        <span>{{item}}</span>
    </mat-option>
</mat-autocomplete>

<div class="container">
    <mat-card class="example-card" #card>
       <mat-card-header>
        <mat-card-title>
          <h2>Angular material card header</h2>
        </mat-card-title>
        <mat-card-subtitle>
         <h4> Angular material subtitle</h4>
        </mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-content>
        Material card content .. goes here you can add any paragraph, 
        image, form and others
      </mat-card-content>
  
      <mat-card-actions align="end">
        <button mat-stroked-button> Cancel </button>
        <button mat-stroked-button> Save</button>
      </mat-card-actions>
  
      <mat-card-footer>
       <h4>Mat card footer</h4> 
      </mat-card-footer>
    </mat-card>
  </div>
 
  <div class="contenedor">

    <mat-form-field>
      <input matInput [(ngModel)]="articuloselect.taskName" type="text" placeholder="Ingrese taskName">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput [(ngModel)]="articuloselect.taskState" type="text" placeholder="Ingrese taskState">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput [(ngModel)]="articuloselect.startDate" type="date" placeholder="Ingrese startDate">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="articuloselect.asOfDate" type="date" placeholder="Ingrese asOfDate">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="articuloselect.updatedAt" type="date" placeholder="Ingrese updatedAt">
      </mat-form-field>
<button mat-uraised-button color="primary" (click)="agregar()">Agregar</button>
  
  </div>
  <mat-form-field appearance="fill">
  <mat-label>Datepicker</mat-label>
  <input matInput [matDatepicker]="mydateX" [(ngModel)]="articuloselect.startDate" (dateInput)="addEvent('input', $event)"
    (dateChange)="addEvent('change', $event)">
  <mat-datepicker-toggle matSuffix [for]="mydateX"></mat-datepicker-toggle>
  <mat-datepicker #mydateX>
  </mat-datepicker>
</mat-form-field>

<ul>
  <li>Date: {{selDate}}</li>
  <li>Day: {{selDay}}</li>
  <li>Month: {{selMonth}}</li>
  <li>Year: {{selYear}}</li>
</ul>
   -->